@import "../../variables";

.mainContainer {
    width: 100%;
    height: auto;
    @include flex-column;
    align-items: center;
    margin-top: -20px;
}

.headingContainer {
    padding: 4rem;
}

.headingContainer h2 {
    padding-top: 1rem
}

.formContainer h3 {
    padding: 2rem;
}

.form {
    @include flex-column;
    gap: 2rem
}

.answerContainer {
    @include flex-row;
    justify-content: center;
}

.radioButton {
    width: 1.2rem;
    height: 1.2rem;
}