@import "../../variables";

.mainContainer {
    width: 100%;
    height: auto;
    @include flex-column;
    gap: 3rem;
    margin-top: 4rem;
    font-size: 20px
}

.cardWrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}


@media (min-width: $breakpoint-large) {
    .mainContainer {
        margin-top: 8rem;
    }
}