@import "../../variables";

.pageContainer {
    width: 100%;
    @include flex-column;
    margin-top: 2rem;
}

.heading {
    @include flex-row;
}

.logo {
    width: 5rem;
    height: auto;
}

.textContainer {
    width: 60%;
    @include flex-column;
    gap: 2rem;
}

.textContainer h2 {
    font-family: $titleFont;
}

.textContainer p {
    font-size: 18px;
    line-height: 30px;
    padding: 2rem;
    border-inline-start: 5px solid;
    border-block-start: 5px solid;
    border-image-source: 
        radial-gradient( circle at top left, black, var(--text) 80%);
    border-image-slice: 1;
}