@import "../../variables";

.cardContainer{
    width: 15rem;
    height: 25rem;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    color: $primaryWhite;
}

.imageContainer {
    padding: 1rem;
}

.image {
    width: 12rem;
    height: 15rem;
    object-fit: cover;
}
