@import "../../variables";

.navContainer {
    background-color: rgb(0, 0, 0 );
    margin-top: -20px;
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
}

.navUl {
    @include flex-row;
    justify-content: space-around;
    list-style: none;
    color: var(--text);
    padding: 5px 20px;
    font-size: $breadFont;
}

.active {
    text-shadow: 0 8px 2.5px var(--text);
    scale: 1.3;
}