@import "../../variables";

.navLink {
    font-size: 2em;
    text-decoration: none;
    margin: 0 10px;
    color: $primaryWhite;
    padding: 0 10px 10px 10px;
    border-radius: 1rem;
}

.navLink:hover, .active, .arrow:hover {
    background-color: $primaryWhite;
    color: $primaryBlack;
}

.arrow {
    font-size: 2em;
    margin: 10px;
    text-decoration: none;
    color: $primaryWhite;
    padding-bottom: 10px;
    border-radius: 1rem;
}
