@import "../../variables";


.pixelBackground{
    display: flex;
    height: 25%;
    width: 39rem;
    position: absolute;
}

.column {
    width: 5vw;
    height: 100%;

    .block {
        height: 5vh;
        width: 100%;
        background-color: $primaryBlack;
    }
}