@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=IM+Fell+English+SC&display=swap');

$titleFont: "Cinzel Decorative", serif;
$breadFont: "IM Fell English SC", serif;

$h1FontSize: 28px;
$breadFontSize: 18px;

$primaryBlack: #141414;
$primaryWhite: #ffffff;
$primaryRed: #9e0808;
$primaryBlue: #3358a3;
$primaryGreen: #1c7e2b;
$primaryYellow: #E2B44E;

$primaryTextShadow: 0px 5px 5px #ffffff;

$cursor: url(../public/svg/wand.svg), pointer;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}