@import "/src/variables";

body {
  margin: 0;
  cursor: $cursor;
  font-size: $breadFontSize;
  background-color: $primaryBlack;
  color: $primaryWhite;
  text-align: center;
  overflow-x: hidden;
}

.glitterLeft {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 0;
  left: -450px;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: 
    radial-gradient(1.5px 1.5px at 104px 50px, #fff, transparent),
    radial-gradient(1px 1px at 190px 150px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 285px 260px, #fff, transparent),
    radial-gradient(2px 2px at 700px 651px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 440px 355px, #fff, transparent),
    radial-gradient(2px 2px at 531px 102px, #cac3c3, transparent),
    radial-gradient(1.5px 1.5px at 68px 203px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 175px 310px, #fff, transparent),
    radial-gradient(2px 2px at 220px 430px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 323px 600px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 45px 502px, #fff, transparent);
    background-size:  450px 450px;
    animation: glitterLeft 60s linear;
    animation-iteration-count: infinite;
}

@keyframes glitterLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(450px);
  }
}

.glitterRight {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 75px;
  left: 0;
  right: -450px;
  bottom: 0;
  z-index: -1;
  background-image: 
    radial-gradient(1.5px 1.5px at 100px 50px, #fff, transparent),
    radial-gradient(1px 1px at 199px 150px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 280px 260px, #fff, transparent),
    radial-gradient(2px 2px at 709px 651px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 432px 355px, #fff, transparent),
    radial-gradient(2px 2px at 530px 102px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 68px 203px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 175px 310px, #fff, transparent),
    radial-gradient(2px 2px at 220px 430px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 323px 600px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 45px 502px, #fff, transparent);
    background-size:  450px 450px;
    animation: glitterRight 50s linear;
    animation-iteration-count: infinite;
    filter: blur(1px);
}

@keyframes glitterRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-450px);
  }
}

.glitterDown {
  content: "";
  background-color: transparent;
  position: absolute;
  top: -55px;
  left: 70px;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: 
    radial-gradient(1.5px 1.5px at 100px 55px, #fff, transparent),
    radial-gradient(1px 1px at 199px 153px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 280px 270px, #fff, transparent),
    radial-gradient(2px 2px at 709px 668px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 432px 355px, #fff, transparent),
    radial-gradient(2px 2px at 530px 102px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 68px 203px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 175px 310px, #fff, transparent),
    radial-gradient(2px 2px at 220px 430px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 323px 600px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 45px 502px, #fff, transparent);
    background-size:  450px 450px;
    animation: glitterDown 50s linear;
    animation-iteration-count: infinite;
    filter: blur(1px);
}

@keyframes glitterDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(450px);
  }
}

.glitterUp {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 77px;
  left: -77px;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: 
    radial-gradient(1.5px 1.5px at 100px 50px, #fff, transparent),
    radial-gradient(1px 1px at 199px 150px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 280px 260px, #fff, transparent),
    radial-gradient(2px 2px at 709px 651px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 432px 355px, #fff, transparent),
    radial-gradient(2px 2px at 530px 102px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 68px 203px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 175px 310px, #fff, transparent),
    radial-gradient(2px 2px at 220px 430px, #fff, transparent),
    radial-gradient(2.5px 2.5px at 323px 600px, #fff, transparent),
    radial-gradient(1.5px 1.5px at 45px 502px, #fff, transparent);
    background-size:  450px 450px;
    animation: glitterUp 50s linear;
    animation-iteration-count: infinite;
}

@keyframes glitterUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-450px);
  }
}
